body {
    background-image: url("backgroundimage.jpg");
    opacity: 2;
    background-size: cover;
    background-repeat: no-repeat;
}

a {
    color:green;
}

ol li {
    color:orange;
}

ul li {
    color:orange;
    list-style: none;
}

h1 {
    color:white;
    font-size:50px;
    text-align:center;

}

h2, h3, h4 { 
    color:#42eb00;
    font-family:Arial, Helvetica, sans-serif
}

p {
    color:orange;
}

button {
    width: 50%;
    align-content: center;
    color:orange;
    background-color:#bf00ff;
}

.button1 {
    width: 25%;
}

.homePageText {
    font-size: 25px;
}

.linkColours {
    color:yellow
}

.center {
    display:block;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    float: left;
}

.leftOfHTMLCSSImage {
    float: right;
}


.container {
    display: flex;
  }

.movingLinks {
    display:flex;  
    background-color:yellow;
    flex:1; 
}

.links {
    width:25%;
    text-align: center;
    color:yellow;
}

.links1 {
    width: 50%;
    text-align: center;
    color:yellow;
}

.OutsideLinks {
    color:#42eb00;
}

.screenshotimages {
    flex-direction: row;

}